{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td>
                <h1>Title: {{ book.book_title }}</h1>
                <p>Author: {{ book.author }}</p>
                <p>Year Published: {{ book.year }}</p>
                <p>ISBN Number: {{ book.isbn }}</p>
            </td>
        </tr>
    </table>
    <table>
        <tr valign="top"><h2>Goodreads Review Statistics</h2></tr>
        <tr>
            <p>Number of Reviews: {{ goodreads['number_of_ratings'] }}</p>
            <p>Average Rating: {{ goodreads['average_rating'] }}</p>
        </tr>
    </table>
    <hr>
    {% if form %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only")}}
            {{ form.rating.label }}
            {{ wtf.form_field(form.rating, form_type='inline') }}
            {{ wtf.form_field(form.review, rows= '15', cols='90') }}
            {{ wtf.form_field(form.submit) }}
        </form>
        <br>
    {% endif %}
    <hr>   
    <h2>Reviews</h2>
    {% for review in reviews %}
        <table>
            {% include '_review.html' %}
        </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>Newer Reviews
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older Reviews<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}