{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active {% if sub_index %}{{ sub_index }}{% endif %} Listings</h2>

    {% for listing in listings %}
        
        <ul>
            {% if listing.active %}
                <li>
                    <a href = "{% url 'listing_view' listing.id %}">
                        {{ listing }}
                    </a>
                </li>
            {% endif %}
        </ul>
            
    {% empty %}
        No Listings
    {% endfor %}

{% endblock %}