{% extends "auctions/layout.html" %}

{% block body %}

    {{ listing }}
    
    {% if message %}
        {{ message }}
    {% endif %}

    <form action="{% url 'bid' %}" method="POST">
        {% csrf_token %}
        {{ bidform }}
        <input type="Submit" value="Make New Bid">
    </form>

    {% for comment in comments %}
        {{ comment.user }}
        {{ comment.comment }}
    {% empty %}
        No comments.
    {% endfor %}

    <form action ="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        {{ commentform }}
        <input type="Submit" value="Make Comment">
    </form>
    
{% endblock %}