{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    
    <div id="compose_view">
    </div>

    <div id="post_view">
        <section id="post_header"></section>
        <table id="follow_table"></table>
        <table id="post_table"></table>
        <section id="pagination"></section>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/show_posts.js' %}"></script>
    <script src="{% static 'network/compose_post.js' %}"></script>
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}