<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='project2.css') }}">
</head>

<body>
    <h1>{{ channel_name }}</h1>
    <table>
        {% for message in messages %}
            <tr>
                <td>{{ message['text'] }}</td>
                <td>{{ message['display_name'] }}</td>
                <td>{{ message['timestamp'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

<footer>
    <script src="{{ url_for('static', filename='project2_display_name.js') }}"></script>
    <script src="{{ url_for('static', filename='project2_channels.js') }}"></script>
    <!--<script src="{{ url_for('static', filename='project2_messages.js') }}"></script>-->
</footer>

</html>