body {
    background-color: wheat;
}
c
h2 {
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

p, li, table {
    color: saddlebrown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

p a {
    color: tomato;
}

th, td {
    padding: 5px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

.index_header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

#about_me_header {
    color: darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;
}

@media (min-width: 1000px) {
    p, li, table {
        font-size: medium;
    }
}

@media (max-width: 999px) {
    p, li, table {
        font-size: small;
    }
}

